@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

header {
  padding: 156px 0 100px;
}

section {
  padding: 75px 0;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
  color: rgba(38, 38, 38, 1);
  text-transform: uppercase;
  padding-right: 1.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  transition: color 0.2s ease-out 0s;
  color: rgba(218, 73, 73, 1);
}

.title {
  margin-top: 100px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 5rem;
}

.title-description{
  color: #333;
}

.breathing {
  color: #da4949;

  animation: 1s infinite alternate ease-out breathing-color--dark;
}

@keyframes breathing-color--dark {
  from {
      color: #da4949;
  }
  to {
      color: #faa7a7;
  }
}

.section-header{
  color: #da4949;
  font-weight: 300;
  font-size: 50px;
}

.section-small-header{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.stack-text{
  color: #da4949;
  font-weight: 600;
}

.red-link{
  color: #da4949;
}

.red-link:hover{
  color: #da4949;
  animation: 0.5s infinite alternate ease-out breathing-color--dark;
}

.curriculum-btn{
  border-radius: 20px;
  width: 200px;
  background-color: #da4949;
  color: whitesmoke;
}

.single_service {
  margin-top: 30px;
  padding: 48px 35px 45px 35px;
  border: 1px solid #E8E8E8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
  font-size: 18px;
}

.single_service:hover {
  transition: color 0.2s ease-out 0s;
  border: 1px solid #da4949;
}

.m_logo{
  position:absolute;
  bottom:0;
  left:0;
}

footer{
  padding-top: 1rem;
  background:#444;
  padding-bottom: 1rem;
}

.footerLogo {
  text-align: center;
  color: 
  #aaa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.footer-bottom {
  text-align: center;
}

.fa-twitter, .fa-instagram {
  color: white;
}

.fa-twitter:hover, .fa-instagram:hover {
  transition: color 0.2s ease-out 0s;
  color: #da4949;
}






/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.git-btn{
  border-radius: 20px;
  width: 200px;
}

.link-disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
